html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    margin: 0;
    height: 100%;
    position: relative;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='100' patternTransform='scale(2) rotate(20)'><rect x='0' y='0' width='100%' height='100%' fill='%23f6f6f6ff'/><path d='M19.95-15.33L18.32-.68 16.7 13.97l13.5-5.92 13.5-5.91L31.82-6.6zM62 68.18l21.15-23.32 9.62 29.98zm2.64-.85l26.08 5.64-8.15-25.4zm-44.7 17.42l-1.63 14.64-1.63 14.66 13.5-5.92 13.5-5.92-11.87-8.73z'  stroke-width='1' stroke='none' fill='%23ffffffcb'/><path d='M96.78 82.3a3.74 3.74 0 104.93-5.65 3.74 3.74 0 00-5.3.37 3.76 3.76 0 00.37 5.28zm-47.2-69.69l3.44-.23-.23-3.45-3.44.24zm-3.37 45.7a1.5 1.5 0 002.1-.15 1.5 1.5 0 00-.14-2.1 1.5 1.5 0 00-2.1.15 1.5 1.5 0 00.14 2.1zm24.66-45.06A8.5 8.5 0 1082.07.43a8.5 8.5 0 10-11.2 12.82zM-3.3 82.3a3.74 3.74 0 104.93-5.65 3.74 3.74 0 00-5.29.37 3.76 3.76 0 00.36 5.28zm74.17 31.03a8.5 8.5 0 1011.2-12.82 8.5 8.5 0 10-11.2 12.82zm6.34-78.02c-2.44.5-5.05-.5-7.13-2.7-.28-.3-.43-.68-.41-1.1a1.5 1.5 0 011.56-1.46c.4 0 .78.17 1.06.47 1.37 1.45 2.9 2.1 4.33 1.8 1.41-.28 2.58-1.47 3.28-3.35 1.06-2.84 3.08-4.77 5.52-5.26 2.44-.5 5.05.5 7.13 2.7.54.57.56 1.43.06 2.02l-.12.13c-.6.57-1.57.54-2.14-.07-1.37-1.45-2.9-2.1-4.32-1.8-1.42.28-2.6 1.47-3.29 3.35-.92 2.46-2.54 4.22-4.55 4.97-.32.14-.64.24-.98.3zm8.64-9.5c1.73-.34 3.56.4 5.15 2.08a.63.63 0 00.94-.03c.2-.24.2-.6-.03-.83-1.87-1.98-4.17-2.87-6.3-2.43-2.14.43-3.91 2.15-4.86 4.7-.82 2.17-2.22 3.55-3.95 3.91-1.73.35-3.56-.38-5.15-2.07a.62.62 0 00-1.08.41c-.01.17.05.32.17.45 1.87 1.98 4.17 2.87 6.3 2.43 2.14-.43 3.91-2.15 4.87-4.7.7-1.89 1.85-3.18 3.28-3.72.2-.08.43-.15.66-.2zM39.33 79.5c.54 0 1-.4 1.07-.96.32-2.86-.55-5.34-2.39-6.8-1.83-1.45-4.44-1.72-7.15-.74-2.03.73-3.84.58-5.11-.41-1.26-1-1.82-2.73-1.58-4.87a1.08 1.08 0 00-.94-1.2 1.08 1.08 0 00-1.19.95c-.32 2.87.54 5.35 2.38 6.8 1.84 1.45 4.44 1.72 7.15.75 2.04-.73 3.85-.58 5.12.41 1.25 1 1.82 2.73 1.57 4.87a1.08 1.08 0 001.07 1.2z'  stroke-width='1' stroke='none' fill='%23ffffffcb'/><path d='M6.7 27.57l18.65-5.83 5.84 18.64-18.65 5.84zm17.68-3.97l-15.8 4.96 4.94 15.8 15.81-4.95zm78.1-33.38l-9.04 3.62 3.62 9.05 9.04-3.62zm3.68 67.2l-9.67 2.99.57 1.86 9.67-3zM55.35 89.61l.7 1.74 12.14-4.87-.7-1.74zm5.28-48.27l1.32-.91-12.24-17.66-1.32.92zM2.4-9.78l-9.04 3.62 3.62 9.04L6.02-.74zm3.68 67.2l-9.67 3 .57 1.85 9.67-2.99zm96.4 32.88l-9.05 3.62 3.62 9.04 9.04-3.62zM2.4 90.3l-9.05 3.62 3.63 9.04 9.04-3.62z'   stroke-width='1' stroke='none' fill='%23ffffffcb'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
    
}

/* Styles for the navigation bar */
nav {
    display: flex;
    background-color: #102542e5;
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: center;
    border-radius: 30px;
    width: 900px;
    padding: 0px 20px;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 20px;
    padding: 0;
}

nav ul li:hover{
    animation:jello-vertical .7s linear both
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    border-radius: 20px;
    background-color: #f5f5f5a4;
    font-weight: 700;
    
}

/* Class to style each section */
.card {
    padding: 0px 20px 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: 200px;
    max-width: 900px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin: 20px 0px 20px 0px;
}

/* ------------------------------ ABOUT ME ------------------------------ */
/* Here the 'About me' section is styled. */
#about-me {
    margin-top: 130px;

    & h1 {
        text-align: center;
        color: #17202b;
        font-size: 30px;
        padding: 0 150px;
    }

    & #title-name:after {
        background: none repeat scroll 0 0 transparent;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: relative;
        background: #102542;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    & #title-name:hover:after {
        width: 100%;
        left: 0;
    }

    & div {
        display: flex;
        flex-direction: row;
    }

    & p {
        margin: 5px 20px 0 0;
        text-align: justify;
    }

    & ul {
        padding: 0;
        list-style: none;
    }

    & a {
        text-decoration: none;
        color: black;
    }

    & #table-about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24.9px;
    }

    & #table-about-me table {
        border: 3px solid black;
        width: 500px;
        border-spacing: 0;
        border-collapse: separate;
        border-radius: 10px;

        & th {
            background-color: #102542;
            color: #ffffff;
        }

        & tr,
        td,
        th {
            border: 1px solid black;
            padding: 5px;
        }
    }
}

/* class to style profile pictures */
.profile-imagens {
    max-width: 400px;
    min-width: 150px;
    align-content: center;
    margin: 20px;

    & img {
        width: 100%;
        border-radius: 200px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    & img:hover{
        animation:vibrate 0.5s linear both;
    }
}

/* ------------------------------ PROJECTS ------------------------------ */
/* Second section of the website where the projects are displayed */
#projects {

    & h1 {
        text-align: center;
        color: #17202b;
        font-size: 30px;
    }

    & div {
        display: flex;
        flex-direction: column;
    }

    & p {
        margin: 20px;
        text-align: justify;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
        justify-items: center;
        align-items: stretch;

        & #item1{
            grid-column: 1/2;
            grid-row: 1/3;
        }

        & #item2{
            grid-column: 3/2;
            grid-row: 1/2;
        }

        & #item3{
            grid-column: 2/3;
            grid-row: 2/3;
        }

        & img {
            width: 100%;
            border-radius: 10px;
            border: #0a0a0a 1px solid;
        }
    }
}

#list-projects {
    margin: 0 20px;

    & h3 {
        padding-left: 10px;
    }

    & div {
        margin: 0 20px 30px 0px;
        display: flex;
        flex-direction: row;

        & p {
            margin: 0px;
            text-align: justify;
        }
    }

    & article h3 {
        text-align: center;
        font-size: larger;

    }

    & article #foot {
        display: flex;
        justify-content: center;
        margin: 0;
        gap: 20px;

        & #div-button {
            margin: 0;
        }
    }

    & ul {
        display: flex;
        justify-content: space-evenly;
        list-style: disc;
        padding: 0 40px 20px 40px;
    }

    & summary {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        font-weight: bold;
        cursor: pointer;
    }


    & summary::after {
        content: '';
        width: 18px;
        height: 10px;
        background: url('https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg') no-repeat;
        background-size: cover;
        transition: 0.2s;
    }

    & details[open]>summary::after {
        transform: rotate(180deg);
    }

    & summary::-webkit-details-marker {
        display: none;
    }

    & summary {
        color: #0a0a0a;
        border-radius: 5px;
    }

    & details[open] summary {
        border-radius: 5px 5px 0 0;
    }

    & details {
        background-color: #c9c9c924;
        border-radius: 5px;
        margin: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    & details:hover{
        animation:vibrate 0.5s linear both
    }
}

#img-project {
    max-width: 500px;
    min-width: 300px;
    align-content: center;
    margin: 20px;

    & img {
        width: 100%;
        border-radius: 10px;
    }
}

/* ------------------------------ BUTTONS ------------------------------ */

/* class for the buttons */
.button {
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;

}

#div-button {
    display: flex;
    justify-content: center;
}

#button-dpto {
    background-color: rgb(219, 71, 71);
    color: #ffffff;
}

#button-dpto:hover {
    background-color: rgb(179, 58, 58);
    font-weight: 800;
}

#button-wesearch {
    background-color: rgb(255 166 48);
    color: #ffffff;
}

#button-wesearch:hover {
    background-color: rgb(239 148 26);
    font-weight: 800;
}

#button-rekatea {
    background-color: rgb(135 181 161);
    color: #ffffff;
}

#button-rekatea:hover {
    background-color: rgb(105 144 127);
    font-weight: 800;
}

/* ------------------------------ CONTACT ------------------------------ */
/* Third section of the page where the contact form and social media are displayed. */
#contact {
    & h1 {
        text-align: center;
        color: #17202b;
        font-size: 30px;
    }

    & #form {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;

        & #input-1 {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        & #submit {
            border: inherit;
            margin-top: 20px;
            border-radius: 30px;
            width: 200px;
            cursor: pointer;
            padding: 10px;
        }

        & #submit:hover {
            background-color: #e26658;
            color: #ffffff;
            width: 210px;
            transition: all 0.1s ease-out;
        }

        & input,
        textarea {
            padding: 10px 10px 10px 0;
            border: none;
            border-bottom: 3px solid #102542;
            font-family: "Outfit", sans-serif;
            font-size: larger;
            resize: none;
            width: 100%;
        }

        input:focus {
            outline: none;
            border-color: #e26658;
            transition: all 0.1s ease-out;
            animation:jello-vertical .9s linear both
        }

        textarea:focus {
            outline: none;
            border-color: #e26658;
            transition: all 0.1s ease-out;
            animation:jello-vertical .9s linear both
        }
    }

    & article {
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
            margin: 0;
        }

        & h2 {
            
            margin: 0;
            font-size: 40px;

            & a {
                color: #F87060;
                animation:flicker 3.5s linear infinite both;
                text-decoration: none;
            }

            & a:hover {
                color: #c75344;
            }
        }

        & h2:hover{
            transform: scale(1.03);
            transition: transform 0.3s ease-in-out;
        }
    }

    & footer {
        margin: 0;
    }

    & footer ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    & h5 {
        text-align: center;
    }
}

/* class to style social medias */
.social {
    max-width: 50px;
    min-width: 20px;
    align-content: center;
    margin: 20px;

    & img {
        width: 100%;
        border-radius: 10px;
    }
}

.social:hover {
    transition: all 0.1s ease-in;
    max-width: 60px;
}

#instagram {
    max-width: 45px;
}

#instagram:hover {
    max-width: 55px;
}


/* ---------------------------- MEDIA QUERYS ---------------------------- */

/* BREAKPOINT 520px */
@media screen and (max-width: 768px){

nav {
    width: 700px;
}

.card {
    width: 700px;
    padding: 15px;
}

.profile-imagens {
    width: 700px;
}

#about-me {
    & h1 {
        padding: 0;
        font-size: xx-large;
    }
}

#list-projects {

    & div {
        & article h3{
            padding: 0;
        }

        & ul {
            padding: 0 0 0 10px;
        }
    }
}
}


/* BREAKPOINT 520px */
@media screen and (max-width: 520px){

nav {
    width: 450px;
}

.card {
    width: 420px;
    padding: 15px;
}

.profile-imagens {
    width: 300px;
    margin: 0;
}

#about-me {

    & h1 {
        padding: 0;
    }

    & div {
        flex-direction: column;
        align-items: center;
    }

    & div article{
        padding: 0 20px;
    }

    & p {
        margin:0;
    }

    & #table-about-me{
        padding: 0 20px;
    }

    & #table-about-me table {
        width: 100%;
    }
}

#list-projects {

    & div {
        margin: 0;
        flex-direction: column;
        padding: 20px;
        padding-top: 0;

        & p {
            margin: 0px;
            text-align: justify;
        }

        & article h3{
            padding: 0;
        }

        & ul {
            padding: 0 0 0 10px;
        }

        & article #foot {
            flex-direction: row;
            gap: 0px;
            padding: 0;

            & #div-button {
                padding-top: 10px;
            }
        }
    }

.button {
    text-align: center;
    border-radius: 50px;
    padding: 10px 30px;
}
}

#contact {
    & article {
        & h2 {
            font-size: xx-large;
        }
    }
}

}

/* BREAKPOINT 425px */
@media screen and (max-width: 425px){

nav {
    width: 350px;
    border-radius: 50px;
    padding: 5px 10px;
}

nav ul {
    margin: 5px 0px
}

nav ul li{
    margin: 10px;
}
nav ul li a {
    padding: 0;
}

.card {
    width: 350px;
    padding: 5px;
}

#list-projects {

    & div {
        margin: 0;
        flex-direction: column;
        padding: 20px;
        padding-top: 0;
        
        & #img-project {
            width: fit-content;
            min-width: 50px;
            margin: 0;
        }

        & ul {
            font-size: smaller;
            padding: 0;
        }

        & article #foot {

            & #div-button {
                padding-top: 10px;
            }
        }  
    }

}

#contact {
    & article {
        & h2 {
            font-size: x-large;
        }

        & p{
            font-size: medium;
            text-align: center;
        }
    }
        
    & form {
        & #input-1 {
            margin-right: 10px;
            flex-direction: column;
        }
    }
}

}

/* BREAKPOINT 390px */
@media screen and (max-width: 390px){

nav {
    width: 320px;
    border-radius: 50px;
}

nav ul {
    margin: 10px
}

nav ul li{
    margin: 10px;
}

nav ul li a {
    padding: 0;
}

.card {
    width: 320px;
    padding: 10px;
}

.profile-imagens {
    width: 250px;
}

#about-me {
    & h1 {
        font-size: xx-large;
    }
}

#projects {
    .grid {
        grid-template-columns: 1fr;

        & #item1{
            grid-column: 1;
            grid-row: 1/2;
        }

        & #item2{
            grid-column: 1;
            grid-row: 2/3;
        }

        & #item3{
            grid-column: 1;
            grid-row: 3/4;
        }
    }
}


#list-projects {

    & div {
        margin: 0;
        flex-direction: column;
        padding: 20px;
        padding-top: 0;
        
        & #img-project {
            width: fit-content;
            min-width: 50px;
            margin: 0;
        }

        & ul {
            font-size: smaller;
            padding: 0;
        }

        & article #foot {

            & #div-button {
                padding-top: 10px;
            }
        }  
    }

}

#contact {
    & article {
        & h2 {
            font-size: x-large;
        }

        & p{
            font-size: medium;
            text-align: center;
        }
    }
        
    & form {
        & #input-1 {
            margin-right: 10px;
            flex-direction: column;
        }
    }
}

}

/* BREAKPOINT 320px */
@media screen and (max-width: 320px){

nav {
    width: 290px;
    border-radius: 50px;
    padding: 5px 10px;
}

nav ul {
    margin: 5px 0px
}

nav ul li{
    margin: 10px;
}

.card {
    width: 290px;
    padding: 5px;
}

}

/* KeyFrames */
@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1)
    }

    30% {
        transform: scale3d(1.25, .75, 1)
    }

    40% {
        transform: scale3d(.75, 1.25, 1)
    }

    50% {
        transform: scale3d(1.15, .85, 1)
    }

    65% {
        transform: scale3d(.95, 1.05, 1)
    }

    75% {
        transform: scale3d(1.05, .95, 1)
    }

    100% {
        transform: scale3d(1, 1, 1)
    }
}

@keyframes vibrate {
    0% {
        transform: translate(0)
    }

    20% {
        transform: translate(-2px, 2px)
    }

    40% {
        transform: translate(-2px, -2px)
    }

    60% {
        transform: translate(2px, 2px)
    }

    80% {
        transform: translate(2px, -2px)
    }

    100% {
        transform: translate(0)
    }
}

@keyframes flicker {

    0%,
    100% {
        opacity: 1
    }

    41.99% {
        opacity: 1
    }

    42% {
        opacity: 0
    }

    43% {
        opacity: 0
    }

    43.01% {
        opacity: 1
    }

    47.99% {
        opacity: 1
    }

    48% {
        opacity: 0
    }

    49% {
        opacity: 0
    }

    49.01% {
        opacity: 1
    }
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.95, 1.05, 1);
    }

    40% {
        transform: scale3d(1.05, 0.95, 1);
    }

    50% {
        transform: scale3d(0.98, 1.02, 1);
    }

    65% {
        transform: scale3d(1.01, 0.99, 1);
    }

    75% {
        transform: scale3d(0.99, 1.01, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}